@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-image: url("/D.png");
  background-repeat: repeat;
  background-position: center;
  background-size: 72px 72px;
}

::selection {
  background: #0070f3;
  color: #000000;
}